body{
  margin: 0;
  padding: 0;
  font-family: 'Times', serif;
  font-size: 0.9em;
}
.navbar{
  border-bottom: 1.5px solid #CC0099;
  background-color:#CC0099;
  padding:0.1%;
}

/* #1E1E2E */
.navbar a{
  color:white;
  /* font-style: italic; */
  font-size: 1.2em;

}
.navbar .navbar-brand{
  font-size: 2em;
}
.dropdown-menu{
  background: purple;
}

.navbar-nav a:hover{
  background: ghostwhite;
  color: black;
}

.list-group-item:hover{
  background: ghostwhite;
  color: black;
}


.navbar-toggle-icon{
  background: ghostwhite;
  color:black;
}

.nav-item{
  padding-left:0.6em;
}

.map{
  height:82vh;
  width:100%;
}
.stat{
  height:82vh;
}

.stat > #pie{
  height: 42.5vh;
  width:100%;
}
.row, .container-fluid{
  margin:0;
  padding: 0;
  overflow: hidden;
}

.options{
  height:auto;
}
.form-control{
     width:100%;
     /* height:8vh; */
     border-radius:0px;
   }
.card{
    height:auto;
    /* border-radius:10px; */
    margin:-3px;
    overflow: hidden;
}

.card-header{
  background: purple;
  color: white;

}

.leaflet-popup-content {
    margin: 0px;
    width: 100%;
	}

/* .col-md-6{
  padding: 2%;
} */
.leaflet-routing-container, .leaflet-routing-error {
    width:200px;
    background-color: white;
    padding-top: 4px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.hr-light{
  background: white;
  border: 2px solid;
}

.profile{
  height:100px;
  width:auto;
  border-radius:10%;
}

.fas{
  color:purple;
}

.footer{
  background:purple;
  color:white;
  overflow: hidden;
}

#search,.filterBySoilCategory,#select{
  margin: 0;
  height: 2em;
}

ul .ui-autocomplete{
  height:auto;
  color:purple !important;
}

.legend{
  background:white;
  line-height:1.2em;
  padding: 1%;
  /* letter-spacing: 2px; */
  }

.legend i{
    width:3em;
    float:left;
  }

.leaflet-popup-content-wrapper{
  border-radius: 0%;
}

.title{
  margin-top:12px;
  margin-bottom: 0%;
  font-weight: bolder;

}
hr{
  margin-top:2px;
  margin-bottom: 2px;
}

#stat {
    margin:0;

}
.query-form{
  border-top:1px solid black;
}
.fa{
  opacity: 1;
}
/* .data{
  display: none
} */
#nhif_graph{
  height:60vh;
}

.card{
  width:100%;
  margin-bottom: 2px;
  border-bottom:1px solid rgba(0, 0, 0, 0.125);
  text-align: center;

}

.number{
  font-family: 'Times' sans-serif;
  font-size:3em;
  text-align: center;
  color: #d73027;
  font-weight: 900;
}

.table_analyst{
    height:86vh;
}

.text_head{
  font-weight: bold;
  font-size: 7px;
  font-family: 'Times' sans-serif;
}
.leaflet-heatmap-layer .leaflet-layer{
  opacity: 1;
}

/* RANGE SLIDER STYLING */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* Reachability Container */
route-form{
  display: none;
  padding: 1%;
}

.route-container{
  height:35px;
  width:35px;
  border:2px solid grey;
  overflow: hidden;
  border-radius: 4px;
  background-color: white !important;

}
