body{
  margin: 0;
  padding: 0;
  font-family: 'Times', serif;
  font-size: 0.9em;
}
.navbar{
  border-bottom: 1.5px solid;
  background-color:#FEFEFE;
  padding:1%;
}

/* #1E1E2E */
.navbar a{
  color:#00000090;
  /* font-style: italic; */
  font-size: 1.4em;

}
.navbar .navbar-brand{
  font-size: 2em;
}
.dropdown-menu{
  background: purple;
}

.navbar-nav a:hover{
  background: ghostwhite;
  color: black;
}

.list-group-item:hover{
  background: ghostwhite;
  color: black;
}


.navbar-toggle-icon{
  background: ghostwhite;
  color:black;
}

.nav-item{
  padding-left:0.6em;
}

.map{
  height:82vh;
  width:100%;
}
.stat{
  height:82vh;
}

.pie, .bar{
  height: 42.5vh;
  width:100%;
}
.row, .container-fluid{
  margin:0;
  padding: 0;
  overflow: hidden;
}

.options{
  height:auto;
}
.form-control{
     width:100%;
     /* height:8vh; */
     border-radius:0px;
   }
.card{
    height:auto;
    /* border-radius:10px; */
    margin:-3px;
    overflow: hidden;
}

.card-header{
  background: purple;
  color: white;

}

.leaflet-popup-content {
    margin: 0px;
    width: 100%;
	}

/* .col-md-6{
  padding: 2%;
} */
.leaflet-routing-container, .leaflet-routing-error {
    width:200px;
    background-color: white;
    padding-top: 4px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.hr-light{
  background: white;
  border: 2px solid;
}

.profile{
  height:100px;
  width:auto;
  border-radius:10%;
}

.fas{
  color:purple;
}

.footer{
  background:purple;
  color:white;
  overflow: hidden;
}

#search,.filterBySoilCategory,#select{
  margin: 0;
  height: 2em;
}

ul .ui-autocomplete{
  height:auto;
  color:purple !important;
}

.legend{
  background:white;
  line-height:1.2em;
  padding: 1%;
  /* letter-spacing: 2px; */
  }

.legend i{
    width:3em;
    float:left;
  }

.leaflet-popup-content-wrapper{
  border-radius: 0%;
}

.title{
  margin-top:12px;
  margin-bottom: 0%;
  font-weight: bolder;

}
hr{
  margin-top:2px;
  margin-bottom: 2px;
}

#stat {
    margin:0;

}
.query-form{
  border-top:1px solid black;
}
.fa{
  opacity: 1;
}
/* .data{
  display: none
} */
#nhif_graph{
  height:40vh;
}

.card{
  width:100%;
  margin-bottom: 2px;
  border-bottom:1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.number{
  font-family: 'Times' sans-serif;
  font-size:3em;
  text-align: center;
}

.table_analyst{
    height:45vh;
}

.text_head{
  font-weight: bold;
  font-size: 7px;
    font-family: 'Times' sans-serif;
}
